//- This is at the bottom of most pages.
.footer-wrapper(ng-controller="FooterCtrl as ctrl")
  .footer.desktop-view.hidden-xs
    .container-fluid.debug
      .row
        .col-sm-12
          .logo-wrapper
            a(href="/")
              img.logo(src="/img/logo-96.png")
          .content
            p 2017 . <a href="/">Morning Shift Coalition</a>
            p Made each morning in Olympia,&nbsp;Washington


  .footer.visible-xs
    .logo-wrapper
      a(href="/")
        img.logo(src="/img/logo-96.png")
    .content
      p Made each morning in Olympia,&nbsp;Washington by the <a href="/">Morning&nbsp;Shift&nbsp;Coalition</a>.

