//- This is at the bottom of most pages.
.footer.desktop-view.hidden-xs
  .container-fluid.debug
    .row
      .col-sm-12
        .logo-wrapper
          a(href="/")
            img.logo(src="/img/logo-96.png")
        p 2017 . <a href="/">Morning Shift Coalition</a> . United States


.footer.visible-xs
  .logo-wrapper
    a(href="/")
      img.logo(src="/img/logo-96.png")
  p 2017 . <a href="/">Morning Shift Coalition</a> . United States
