form(ng-controller="MainMessageCtrl as ctrl")

	h3.first Welcome

	p Thank you for joining us on the Morning Shift. Please let us know what you're working on (or would like to work on) by completing the form below.

	h4.first What's your name?
	.row
		.col-xs-12.col-sm-12
			input.form-control(type="text" ng-model="ctrl.author" placeholder="(name or pseudonym)")

	h4 Is there a cause (or situation) that is important to you, this week?

	p Let us know a situation in the nation, area of your life, or element of your community you would like to see improved.

	.row
		.col-xs-12.col-sm-12
			input.form-control(type="text" ng-model="ctrl.cause" placeholder="(e.g. women's rights)")

	h3 Action?

	h4.first Is there an organization working for your cause?

	p For the situation (or cause) listed above, is there a group you'd like us and everyone else to know about?
	.row
		.col-xs-12.col-sm-12
			input.form-control(type="text" ng-model="ctrl.org" placeholder="(organization?)")


	h4 Did you take any action this week? 

	p Are you participating in the Friday Fund? "No" is an acceptable answer &ndash; to make progress, we need to know where people get stuck.
	.row
		.col-xs-12.col-sm-12
			input.form-control(type="text" ng-model="ctrl.action" placeholder="(action?)")

	h3 Sharing the story (optional)

	//- h4.first Can we contact you, to learn more about what you're working on? How?
	//- .row
	//- 	.col-xs-12.col-sm-12
	//- 		input.form-control(type="text" ng-model="ctrl.contact" placeholder="(contact info)")


	h4 Anything else you'd like us to know?

	p A primary role of the Morning Shift Coalition is to tell our stories and frame our actions to help more people become involved. Please let us know if you're especially excited about something, or if there is anything you need.

	.row
		.col-xs-12.col-sm-12
			textarea.form-control(ng-model="ctrl.anything" rows="5")

	p Note, this information might be seen by people you don't know, like volunteers looking to write stories, so please don't include anything you don't want shared with a wider audience. 

	p Better privacy controls are incoming, but for now please be aware. Thank you for being here.

	.submit-wrapper
		button.btn-start(ng-click="ctrl.submit()" type="submit" ng-class="{ 'isClockedIn': ctrl.submitSuccess }") Send Info

		.success(ng-if="ctrl.submitSuccess")
			p Thank you! We are grateful for your contribution, and we've added it to our documents.  
		.error(ng-if="ctrl.submitError")
			p Sorry, it seems that our website isn't working properly right now. We should have it fixed soon, or maybe try again?


	//- p We are now recruiting volunteers. If you would like to work with us, please reach out on <a href="https://www.facebook.com/morningshiftcoalition/">Facebook</a> or <a href="https://twitter.com/ShiftMorning">Twitter</a>.