form(ng-controller="MainMessageCtrl as ctrl")

	h3.first Hello! 

	p Thank you for joining us at the Morning Shift Coalition. Please let us know what you're working on:

	//- p As a member, we ask that you do one thing:

	//- p Schedule a weekly time when you will participate. The thing that you do can and will change from week to week, but we ask that you set aside a regular time to work on whatever it is  

	//- if !isSignedIn
	//- 	p If you would like us to remember what you enter, please log in or create an account with this button:

	//- 	p
	//- 		script.clef-button(type="text/javascript" 
	//- 			src="https://clef.io/v3/clef.js" 
	//- 			data-color="white" 
	//- 			data-style="flat"
	//- 			data-type="login")&attributes({
	//- 			'data-redirect-url': host + '/clef/redirect',
	//- 			'data-app-id': clef.publicKey,
	//- 			'data-state': clef.state
	//- 			})

	//- 	p (The button above should launch the Clef app so you can log in. If it doesn't work, please install the Clef app and try again. We've only seen this happen on Android phones. Sorry! Clef is working on addressing the problem.) 
	//- else 
	//- 	p Welcome!

	.row
		.col-xs-12.col-sm-12
			textarea.form-control(ng-model="ctrl.anything" rows="5")

	h4 What's your name?
	.row
		.col-xs-12.col-sm-12
			input.form-control(type="text" ng-model="ctrl.author" placeholder="(name or pseudonym)")

	.submit-wrapper
		button.btn-start(ng-click="ctrl.submit()" type="submit" ng-class="{ 'isClockedIn': ctrl.submitSuccess }") Send Info

		.success(ng-if="ctrl.submitSuccess")
			p Thank you! We are grateful for your contribution, and we've added it to our documents.  
		.error(ng-if="ctrl.submitError")
			p Sorry, it seems that our website isn't working properly right now. We should have it fixed soon, or maybe try again?


	//- p We are now recruiting volunteers. If you would like to work with us, please reach out on <a href="https://www.facebook.com/morningshiftcoalition/">Facebook</a> or <a href="https://twitter.com/ShiftMorning">Twitter</a>.