meta(property="og:title" content="Morning Shift Coalition")
meta(property="og:type" content="website")
meta(property="og:image" content="http://morningshift.org/img/ograph-banner.png")
meta(property="og:image:secure_url" content="https://morningshift.org/img/ograph-banner.png")
meta(property="og:url" content="https://morningshift.org/")
meta(property="og:description" 
  content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@shiftmorning")
meta(name="twitter:creator" content="@shiftmorning")
meta(name="twitter:title" content="Morning Shift Coalition")
meta(name="twitter:description" 
  content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")
meta(name="twitter:image" content="https://morningshift.org/img/ograph-banner.png")
