doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition: About
    link(rel="stylesheet" type="text/css" href="style/main.css")

    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices
    include inc/base-scripts

  body
    .container
      .row.debug
        .col-md-offset-2.col-md-8.debug
          h1.morning-shift Morning Shift
          h1.coalition Coalition
