doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition: About
    link(rel="stylesheet" type="text/css" href="style/main.css")
    style.
      .container {
        color: #444;
        background: #eee;
      }
      .outro {
        font-size: medium;
        line-height: 1.2em;
      }
      a {
        color: purple;
      }

      a:focus, 
      a:hover {
        color: #990099;
      }
      h1 a:hover {
        text-decoration: none;
      }


    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices
    include inc/base-scripts

  body
    .container
      .row.debug
        .col-md-offset-2.col-md-8.debug
          h1.morning-shift <a href="/">Morning</a> <a href="/">Shift</a>
          h1.coalition <a href="/">Coalition</a>

          p The U.S. election of November 8, 2016 was a terrible event. This is our response.

          p Our intention is to make a serious effort to address the challenges of our time &ndash; the top three being climate change, institutionalized "out-grouping" (racism, sexism, and all), and labor exploitation.

          p The Morning Shift Coalition will serve as a bridge between organizations &ndash; such as the ACLU and 350.org &ndash; and volunteers, and will provide an answer to the question: 

          h3 &ldquo;What can I do to help?&rdquo;

          p Every member comes to the coalition with a different set of priorities, and we understand that. We will be matching each member's intentions with 1-3 specific actions, weighted by their interests, who they trust, and their available time.

          p Our actions will address both urgent situations, to prevent further damage to our country, and long-term goals, to build a prosperous society. We will operate in this manner at the local, regional, and national level.

          h3 Today

          p We do our work in the morning, before attending to our day jobs. We do this because it puts our priorities first, and it ensures steady progress in our efforts.

          p On Fridays, we look for projects, organizations, and causes that are making an important impact on our communities, and we make contributions, big and small, to the #FridayFund. 

          p More is on the way. Every morning.

          p.outro We look forward to working with you. If you are interested in volunteering, or have further questions, please contact us through <a href="https://www.facebook.com/morningshiftcoalition/">Facebook</a> or <a href="https://twitter.com/ShiftMorning">Twitter</a>.
