doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition: Actions
    link(rel="stylesheet" type="text/css" href="/style/main.css")
    style.
      .container {
        color: #444;
        background: #eee;
      }
      h3,
      h4 {
        color: #444;
      }
      .outro {
        font-size: medium;
        line-height: 1.2em;
      }
      a {
        color: purple;
      }

      a:focus, 
      a:hover {
        color: #990099;
      }
      h1 a:hover {
        text-decoration: none;
      }


    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices
    include inc/base-scripts

    script(src="/js/controllers/clef.js")
    script(src="/js/controllers/action.js")

  body
    .container(ng-controller="ActionCtrl as ctrl")
      .row.debug
        .col-md-offset-2.col-md-8.debug
          h1.morning-shift <a href="/">Morning</a> <a href="/">Shift</a>
          h1.coalition <a href="/">Coalition</a>

          if isSignedIn
            p This is the action list, which contains everything entered recently by people into our system. Be aware there could be spam in it at this point in time. If you see anything weird, please contact one of the directors about it.

          h3 Actions

          .action(ng-repeat="action in ctrl.actions")

            div(ng-if="action.schema === '1.0.1'")
              p.message {{action.message}}

              p.submitted-by Submitted by <strong>{{action.author || '(anonymous)'}}</strong> on {{action.timestamp | date}}

            div(ng-if="action.schema === '1.0.0'")
              h4 Cause: {{action.cause}}
    
              .row
                .col-xs-12.col-sm-4
                  label Organization: 

                .col-xs-12.col-sm-8
                  .entry {{action.org || '(not entered)'}}

              .row
                .col-xs-12.col-sm-4
                  label Action: 

                .col-xs-12.col-sm-8 
                  .entry {{action.action || '(not entered)'}}

              .row
                .col-xs-12 
                  label Anything else?

                .col-xs-12
                  p.anything {{action.anything}}

              p.submitted-by Submitted by <strong>{{action.author || '(anonymous)'}}</strong> on {{action.submitDate | date}}

            //- pre {{action | json}}

          //- We want a server-side check here because the Clef
          //- stuff doesn't go well with angular ng-if stuff.
          //- if !isSignedIn
          //-   p Please sign in to (possibly) see the contents of this page.

          //-   .sign-in(ng-controller="ClefCtrl as clef") 
          //-       p
          //-         script.clef-button(type="text/javascript" 
          //-         src="https://clef.io/v3/clef.js" 
          //-         data-color="white" 
          //-         data-style="flat"
          //-         data-type="login")&attributes({
          //-           'data-redirect-url': host + '/clef/redirect/actions',
          //-           'data-app-id': clef.publicKey,
          //-           'data-state': clef.state
          //-         })

    include inc/footer

