doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="/style/main.css")

    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices

    include inc/base-scripts

    script(src="/js/controllers/facebookLogin.js")

    script.
      var app = angular.module("MorningShiftIntro");
      app.value('member', !{JSON.stringify(member || null)});
      app.value('facebookAppId', !{JSON.stringify(facebook.appId || null)});

      app.run(['$window', '$rootScope', 'facebookAppId', 
      function ($window, $rootScope, facebookAppId) {
        window.fbAsyncInit = function() {
          FB.init({
            appId      : facebookAppId,
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
          });

          FB.AppEvents.logPageView();

          $rootScope.$broadcast('facebook-sdk-loaded');
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }]);

    style.
      h1.coalition {
        text-align: left;
        margin-top: 1ex;
      }

      .privacy {
        margin-top: 4em;
      }

    //- script(src="https://checkout.stripe.com/checkout.js")

  body(ng-controller="FacebookLoginCtrl as ctrl")
    .container
      .row
        .col-xs-12
          h1.coalition Connect
            a(href="/")
              img(src="/img/logo-96.png")


          p To share your stories and actions with a wider audience, connect your Facebook account to the Morning Shift website. 

          p By connecting your account, your Facebook posts that you tag with #MorningShift or #FridayFund will be sent to our volunteer team. This will help us understand what is important to you and other Morning Shift members each week, and guide our focus as we grow the coalition.
          //-- Below we include the Login Button social plugin. This button uses
          //-- the JavaScript SDK to present a graphical Login button that triggers
          //-- the FB.login() function when clicked.
          
          div(ng-if="!ctrl.facebookName")
            button.btn.btn-facebook(ng-click="ctrl.connect()") 
                span Connect to Facebook

          div(ng-if="ctrl.facebookName")
            p You've successfully connected your Facebook account. Thank you. 

            p Things to do: <a href="https://www.facebook.com">Continue to Facebook</a> or <a href="/">Morning Shift Home</a>.

          h4.privacy Privacy policy

          p By connecting your Facebook account to our website, this will allow the Morning Shift Coalition to read posts on your timeline. When you post on Facebook, we'll check to see if it contains a #MorningShift or #FridayFund hashtag, or a similarly published tag, and if it does then we'll keep a copy. Your post, along with a link to your public profile, will likely be seen by our volunteers.

          p We will only look at the Facebook posts you write after you connect your account. And, if you don't visit our website for 60 days, we'll no longer have access to your timeline. 

          p If you ask us to remove your data from our systems, we will do that.

          p Thank you for connecting with us, and we look forward to working with you on the Morning Shift.

    include inc/footer
