doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="style/main.css")

    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices

    include inc/base-scripts

    script(src="/js/controllers/facebookLogin.js")

    script.
      var app = angular.module("MorningShiftIntro");
      app.value('member', !{JSON.stringify(member || null)});
      app.value('facebookAppId', !{JSON.stringify(facebook.appId || null)});

      app.run(['$window', '$rootScope', 'facebookAppId', 
      function ($window, $rootScope, facebookAppId) {
        window.fbAsyncInit = function() {
          FB.init({
            appId      : facebookAppId,
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
          });

          FB.AppEvents.logPageView();

          $rootScope.$broadcast('facebook-sdk-loaded');
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }]);

    style.
      h1.coalition {
        text-align: left;
        margin-top: 1ex;
      }

    //- script(src="https://checkout.stripe.com/checkout.js")

  body(ng-controller="FacebookLoginCtrl as ctrl")
    .container
      .row
        .col-xs-12
          h1.coalition Connect

          p To share your stories and actions with a wider audience, connect your Facebook account to the Morning Shift website. 

          p By connecting your account, new Facebook posts that you tag with #MorningShift or #FridayFund will be sent to our volunteer team, helping us understand what is important to you and other Morning Shift members each week.
          //-- Below we include the Login Button social plugin. This button uses
          //-- the JavaScript SDK to present a graphical Login button that triggers
          //-- the FB.login() function when clicked.
          
          button.btn.btn-facebook(ng-click="ctrl.connect()") 
              span Connect to Facebook

          div(ng-if="ctrl.facebookName")
            p You've successfully connected your Facebook account!

    include inc/footer
