doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="style/main.css")

    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices

    include inc/base-scripts

    script(src="/js/controllers/facebookLogin.js")

    script.
      var app = angular.module("MorningShiftIntro");
      app.value('member', !{JSON.stringify(member || null)})
      app.run(['$window', '$rootScope', function ($window, $rootScope) {
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '385805705132348',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
          });

          FB.AppEvents.logPageView();

          $rootScope.$broadcast('facebook-sdk-loaded');
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }]);

    //- script(src="https://checkout.stripe.com/checkout.js")

  body(ng-controller="FacebookLoginCtrl as ctrl")
    .container
      .row
        .col-xs-12
          p Facebook test.
          //-- Below we include the Login Button social plugin. This button uses
          //-- the JavaScript SDK to present a graphical Login button that triggers
          //-- the FB.login() function when clicked.
          div.
            <fb:login-button scope="public_profile,user_posts">
            </fb:login-button>

          p {{ctrl.status}}
