doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="style/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="description" content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")

    meta(name="keywords" content="morning shift coalition")

    meta(property="og:title" content="Morning Shift Coalition")
    meta(property="og:type" content="website")
    meta(property="og:image" content="http://morningshift.org/img/black-circle.png")
    meta(property="og:image:secure_url" content="https://morningshift.org/img/black-circle.png")
    meta(property="og:url" content="https://morningshift.org/")
    meta(property="og:description" 
      content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@shiftmorning")
    meta(name="twitter:creator" content="@shiftmorning")
    meta(name="twitter:title" content="Morning Shift Coalition")
    meta(name="twitter:description" 
      content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")
    meta(name="twitter:image" content="https://morningshift.org/img/black-circle.png")

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")

    script(src="/js/main.js")
    script.
         var app = angular.module("MorningShiftIntro");
    //-     app.value('config', !{JSON.stringify(config)})

    //- script(src="https://checkout.stripe.com/checkout.js")

  body
    .container

      .row.debug

        .col-md-offset-2.col-md-8.debug
          h1 Morning Shift Coalition

          p On Monday, December 19, in the 51 capital cities of our nation, 
           | the Electoral College will convene.

          p These 538 people, chosen by our political parties to honorably 
           | represent our country, are granted power by the Constitution 
           | to elect our next president. In the great state of Washington, 
           | there are 12 such electors. 

          p We don't have to tell you things are bad. We all know that the 
           | nation is tired of 2016, tired of the election. Yet there 
           | is still work to do.  

          p The Hamilton Electors know this. They are fighting for us, 
           | choosing to stand up and say "enough" to the madness of 
           | our time. And we must stand with them.

          p We will be gathering on the steps of the Washington State  
           | capitol on Monday, December 19. Join us 11 a.m. to 
           | show solidarity with those who defend our country.

          p Bring yourself, bring a sign, and bring some cards to 
           | exchange information with fellow supporters. If we fail, 
           | it will be a long road ahead.

          p #MorningShift

