doctype html
html
  head
    title philmanijak.com
    link(rel="stylesheet" type="text/css" href="style/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    .container
      p Hello, world.