doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="style/main.css")

    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices

    include inc/base-scripts

    script(src="/js/controllers/timeClock.js")
    script(src="/js/controllers/clef.js")

    script.
         var app = angular.module("MorningShiftIntro");
         app.value('member', !{JSON.stringify(member)})

    //- script(src="https://checkout.stripe.com/checkout.js")

  body
    .container
      .row.debug
        .col-md-offset-1.col-md-10.col-xs-12.debug
          .main-heading
            h1.the-morning 
              .the The 
              span Morning 
            h1.shift Shift
            h1.coalition Coalition

          .row.content
            .col-xs-12.col-lg-6.square
              .square-inner
                h2 Welcome!

                p We're a volunteer organization, here to help you and your friends become community activists.

            .col-xs-12.col-lg-6.square
              .square-inner
                h2 Meet your community

                p We have two Meetup groups, one in <a href="https://www.meetup.com/Morning-Shift-Olympia/">Olympia</a> and one in <a href="https://www.meetup.com/Morning-Shift-Portland/">Portland</a>. 

                p We meet over food, share what we're working on, listen to each other, hold each other accountable, and focus on what's important to the people in our lives.

            .col-xs-12.col-lg-6.square
              .square-inner
                h2 Making the time

                p The first task of new members is to set aside time to work on making lasting change.

                p This time can be personal, public, private, or political, but what matters is that it is important to you.

            .col-xs-12.col-lg-6.square
              .square-inner
                h2 Writing a recipe book

                p Taking action is hard, so we're writing a book to make things easier.

                p Our book associates causes with organizations and specific actions that we can take to make progress in our communities and our country. 

            .col-xs-12.col-lg-6.square
              .square-inner
                h2 Making the story known

                p Tell your story.

                p We share our stories in a publication on <a href="https://medium.com/morning-shift">Medium</a>.

                p We <a href="connect/facebook">use Facebook</a> to spread the word with #MorningShift and #FridayFund.


          .slogan-wrapper
            h3.slogan 
              span Time to 
              span work, 
              span together

          .description.row
            .col-lg-3.col-xs-12.square-small
              .square-inner
                p <a href="/about">About</a>

            .col-lg-3.col-xs-12.square-small
              .square-inner
                p <a href="https://medium.com/morning-shift/the-5-steps-of-a-morning-shift-c2774b0264cd">Make the time</a>

            .col-lg-3.col-xs-12.square-small
              .square-inner
                p <a href="/connect/facebook">Tell your story</a>

            .col-lg-3.col-xs-12.square-small
              .square-inner
                p The <a href="https://medium.com/morning-shift/the-four-ingredients-of-progress-3a71a1d2e528">Four Ingredients</a> of Progress


          //- .clockIn(ng-controller="TimeClockCtrl as clock")
          //-   button.btn-start(
          //-     ng-if="!clock.isClockedIn"
          //-     ng-click="clock.toggleClockIn()" 
          //-     ng-class="{ 'isClockedIn': clock.isClockedIn }") 
          //-     span(ng-if="clock.isClockedIn") Stop Shift
          //-     span(ng-if="!clock.isClockedIn") Start Shift

          //-   div.message(ng-if="clock.isClockedIn") 
          //-     include inc/main-message 

            //- Turn off clock for now until we have a better place
            //- to put it
            //-
            //- div.shift-duration(
            //-   ng-if="clock.isDurationValid && (clock.isClockedIn || clock.clockedInDate)") {{clock.shiftDuration}}


    include inc/footer

