doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="style/ostrich-sans.css")
    link(rel="stylesheet" type="text/css" href="style/main.css")
    style.
      h1.morning-shift {
        text-align: left;
      }


    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="description" content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")

  body
    .container
      h1.morning-shift oops :(

      p Sorry, sometimes Clef doesn't work in certain browser situations. If you 
       | continue getting this error, please try logging off via your Clef app, 
       | mashing your keyboard, or shaking your phone or something.

      p Clef is a new company, and they are working to improve these experiences.

      p Thank you!

      p 
        a(href="/") morningshift.org