doctype html
html
  head
    title Morning Shift Coalition: Survey
    
    style.
        body {
            margin: 0;            /* Reset default margin */
        }
        iframe {
            display: block;       /* iframes are inline by default */
            background: #000;
            border: none;         /* Reset default border */
            height: 100vh;        /* Viewport-relative units */
            width: 100vw;
        }

    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices

  body
    iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSfW1G6A4gP-qGdVrwMnvepMw3dGibcl7Hu3uVwelD-aL4SAdA/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0") Loading...
