@import url(/style/ostrich-sans.css);
@import url(/style/lulo-clean.css);
@import url(//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300|Roboto:400);
@import url(//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css);

body, .footer {
	color: #eee;
	background: #080009;
	background: #00394C;
	background: #2E0C54;
}

.footer {
	color: #ccc;
	background-color: black;
	background-color: #2E0C54;
}

.container {
	background: #190720;
	background: #006688;
	background: #eee;
	background: #2E0C54;
	color: #e6e6e6;

	padding-bottom: 2em;
}

body,
.footer,
.container {
	background-color: #6a5077;
}

.container, .container-fluid {
	max-width: 1050px;
}

.main-heading {
	text-align: center;
	padding-left: 3ex;
	padding-top: 1ex;

	padding-bottom: 2em;
}

.header {

}

.circle {
	fill: black;
}
#logo-svg {
	width: 100%;
}

.col-sm-6 img, .col-sm-7 img {
	margin-bottom: 1em;
}

h1.the-morning,
h1.shift, 
h1.coalition {
	font-family: 'LuloCleanOne-Bold', sans-serif;
	font-size: 72pt;

	letter-spacing: -0.15ex;
	text-align: left;
	margin-top: 0.25em;

	margin-bottom: 0;
	padding-bottom: 0;
}
h1.shift,
h1.coalition {
	margin-top: 0;
	padding-top: 0;
}
h1 .the {
	letter-spacing: normal;
	font-size: 18pt;
}
h1.coalition {

}

p, div {
	font-size: 18pt;
	font-weight: 100;
	line-height: 24pt;

	/*font-family: Roboto, Merriweather,"Open Sans","Helvetica Neue",Helvetica,Arial,"Nimbus L",sans-serif;
	*/
	font-weight: 400;
}
p {
	margin-top: 1.1em;
	margin-bottom: 1.1em;
	text-align: left;
}
.note, .thanks {
	font-size: 10pt;
	line-height: 14pt;
	margin-top: 1.4em;
	font-weight: 400;
}
.thanks {
	border-left: solid 3px #080;
	padding-left: 2ex;
}

.clef-button-wrapper {
	margin: auto !important;
}
.clef-button {
	text-align: center;
	margin: auto;
}


a {
	color: gold;
	color: #006688;
	color: gold;
}

a:focus, 
a:hover {
	color: goldenrod;
}

.content {
	/*padding-top: 1.2em;*/
}
.content p {

}

.logo-wrapper {
	text-align: center;
}

.clockIn {
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
}

/*.clockIn button {
	background: inherit;
	padding: 1.5ex;
}
.clockIn button:active {
	background-color: #eee;
	color: #2E0C54;
} 
*/
.description p {
	text-align: center;
}

.btn-start {
	background-color:transparent;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:8px double #eee;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:16px 29px;
	text-decoration:none;

	transition-property: background, color;
	transition-duration: 0.25s;
}
/*.btn-start:hover,
.btn-start:focus {
	color: #444;
	background-color: #fdcd2b;
}
*/
.btn-start.isClockedIn {
	color: #444;
	background-color: #fdcd2b;
	border-color: #FCECAE;
}
/*.btn-start.isClockedIn:hover,
.btn-start.isClockedIn:focus {
	color: #444;
	background-color: #fdcd2b;
}
*/
.btn-start:active {
	position:relative;
	top:1px;
}
.btn-start:focus {
	outline: 0;
}
.btn-facebook,
.btn-facebook:focus {
	color: #eee;
	border-color: #355088;
	background-color: #3B5998;
	font-size: 20px;
}
.btn-facebook:hover {
	background-color: #355088;
	border-color: #355088;
	color: #eee;
}


.message {
	margin-top: 1.1em;
	text-align: left;
}

.shift-duration {
	margin-top: 1.1em;
	text-align: center;
}

.submit-wrapper {
	margin-top: 1.4em;
	text-align: center;
}

.making {
	background-color: #130414;
	background-color: #005F7F;
}

/* video */
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; height: 100%; 
}
.after-video {
  padding-top: 1em;
}

.supporting {
	background-color: #090309;
	background-color: #00445B;
	padding-bottom: 1.5em;
}
p.first {
	margin-top: 2.5em;
}
.supporting h2 {
	margin-top: 2em;
}
.supporting h2.first {
	margin-top: inherit;
}

.community-logos {
	margin-top: 1.25em;
/*	padding-bottom: 2em;*/
}
h2.after-community-logos {
	margin-top: 1.25em;
}
.logo {
	margin-top: 1em;
	/*margin-bottom: 1em;*/
}
.name {
	margin-top: 1ex;
	font-size: small;
}
.logo .name {
	color: transparent;
}
.logo:hover .name {
	color: gold;
}

.rain-wrapper {
	margin-top: 1.75em;
	margin-left: -2ex;
}

.mission, 
.mission p, 
.mission div,
.action label,
.action .entry,
p {
	font-size: 14pt;
	line-height: 20pt;
}

p.anything,
p.message {
	margin-top: 0;
	white-space: pre-wrap;
}
p.submitted-by {
	margin-top: 0;
}

.action-page .message {
	margin-top: 1.1em;
}

.action {
	border-bottom: solid 1px #ccc;
}

.oregon {
	margin-top: 1.75em;
	margin-bottom: 1ex;
}
.oregon-wrapper {
	text-align: right;
}

.holmwell {
	margin-top: 0.5em;
	font-size: small;
	margin-bottom: 1em;
}
.footer {
}
.footer .container-fluid,
.footer.visible-xs {
  padding-top: 1.1em;
  padding-bottom: 2em;
}
.footer .logo {
	filter: grayscale(100%);
	opacity: 0.3;
}
.footer .logo:hover {
	filter: none;
	opacity: 1.0;
}

.footer .content {
/*	margin-top: 1.2em;
*/}
.footer p {
	font-size: 12pt;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1.5em;
}
.footer a {
	color: #ccc;
}

.btn-subscribe {
	display: inline-block;
	padding-right: 2ex;
}
.right-most {
	padding-right: 0;
}

.debug.on {
	border: solid 1px red !important;
}

.intro {
	margin-top: 1.4em;
}

.code-corvallis {
}
h3.first {
	margin-top: inherit;
}

h2 {
	font-size: 36pt;
}

h3 {
	font-size: 26pt;
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.75ex;
	margin-top: 1.4em;
	margin-bottom: 1.25ex;
	color: #e6e6e6;
}

h4.first {
	margin-top: inherit;
}

h4 {
	margin-top: 3ex;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial;
	font-size: 18pt;
	line-height: 1.3em;
	color: #ddd;
}
input[type=text], 
textarea {
	font-size: 18pt;
	line-height: 1.3em;
	margin-top: 0.5em;
}
input[type=text] {
	height: 1.8em;
}
.message .btn {
	font-size: 14pt;
}


p, li {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial
}

blockquote {
	margin-top: 1.1em;
	padding-left: 5ex;
}

.join-row {
	margin-top: 1.1em;
}

.square,
.square-small {
	width: 50%;
	padding-top: 50%;
	background-color: #553565;
}
.square:nth-child(2),
.square-small:nth-child(2) {
	background-color: #4b2e58;
}
.square:nth-child(3),
.square-small:nth-child(3) {
	background-color: #2b1c32;
}
.square:nth-child(4),
.square-small:nth-child(4) {
	background-color: #160f19;
}

.square-inner {
	position: absolute;
	left: 0;
	top: 0;
	padding: 1ex;
	padding-left: 3ex;
	padding-right: 3ex;
}

.square-small {
	width: 25%;
	padding-top: 25%;
}
/*.square-small:nth-child(2) {
	background-color: #34808b;
}
.square-small:nth-child(3) {
	background-color: #235259;
}
.square-small:nth-child(4) {
	background-color: #102326;
}
*/
.square-small .square-inner {
	padding-top: 2.5ex;
}

.slogan {
	border: none;
	font-family: 'LuloCleanOne-Bold', sans-serif;
	font-size: 36pt;
	text-align: center;

	letter-spacing: -0.15ex;
	margin-top: 2.2em;
	margin-bottom: 0;

}


/* Smaller font sizes on mobile devices */
@media (max-width: 667px) {
	.container {
		padding-bottom: 0;
	}

	h1.the-morning,
	h1.shift,
	h1.coalition {
		font-size: 24pt;
	}
	h1 .the {
		font-size: 10pt;
	}

	h2 {
		font-size: 18pt;
	}
	h3 {
		font-size: 18pt;
	}
	h4 {
		font-size: 14pt;
	}

	.main-heading {
		background-image: url('/img/morning-shift-top-logo.png');
		background-repeat: no-repeat;
		background-size: 50%;

		padding-bottom: 1em;
		background-position: bottom right 15%;
	}

	.square, .square-small {
		width: 100%;
		padding-top: 0;
	}
	.square-inner {
		position: inherit;
		top: auto;
		left: auto;
	}

	.square-small .square-inner {
		padding-top: 1ex;
	}
	.square-small .square-inner p {
		text-align: left;
	}

	.slogan-wrapper {
		margin-left: 3ex;
	}
	.slogan {
		margin-top: 1em;
		margin-bottom: 1em;
		padding-bottom: 0;
		font-size: 18pt;
		text-align: left;
	}
	.slogan span {
		display: block;
	}

	p, div {
		font-size: 14pt;
		line-height: 20pt;
		font-weight: 400;
	}

	.note, .thanks {
		font-size: 10pt;
		line-height: 14pt;
		font-weight: 400;
	}

	.mission, .mission p, .mission div {
		font-size: 12pt;
		line-height: 18pt;
	}

	.footer .content {
		font-size: 10pt;
		padding: 1ex;
		padding-top: 2em;
	}
}
